.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPageInnerDisplay {

}
.loginPageInputBox {
  height: 2rem;
  font-size: 1.3rem;
  border-radius: 34px;
}
.loginPageButton {
  height: 2rem;
  font-size: 1.3rem;
  border-radius: 34px;
}
/* changes Sign In and Register labels */
.loginPageLabel {
  font-weight: 600;
  font-size: 2rem;
}
.booleanQuestion {
  font-weight: 500;
  font-size: 1.7rem;
}
/* Sign In main box top of page */
.loginPageInnerDisplay h1 {
  border: solid;
  border-color: #C7493A;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* yes/no switch div */
.realtorBooleanDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
